.navbar {
  background-color: white;
}

a.navbar-brand {
  margin-left: 25px;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 20px;
}

a.nav-link {
  display: block;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  color: black;
  letter-spacing: 3px;
}

.nav {
  max-height: 100px;
  font-size: 18px;
  padding: 0, 25px;
  letter-spacing: 3px;
}
.navbar-scroll {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 150px;
}
